/* body {
primer fondo de pantalla:
  background-image: url(./imagenes/tim-mossholder-imlD5dbcLM4-unsplash.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */
body {
  background-image: url('./imagenes/blob.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-attachment: fixed;
}

main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 3rem;
}

.container_joke {
  /* caja original
  border: 0.25rem;
  border-style: solid;
  border-color: #ffe652;
  border-radius: 1rem;
  background-color: cornsilk;
  box-shadow: 0 1rem 1rem 0 #ffe652; */
  padding: 2rem;
  width: 30%;
  margin-left: 32%;
  margin-top: 10%;
}

h2 {
  text-align: center;
  color: cornsilk;
}

p {
  color: cornsilk;
  text-align: center;
  font-size: larger;
}

.newJoke {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
  background-color: #71dfe7;
  color: cornsilk;
  border: none;
  border-radius: 2rem;
  width: 15rem;
  margin-top: 1rem;
  font-size: large;
}

#onePoint {
  background-image: url(./imagenes/emoji_think_thinking_icon_123403.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#twoPoints {
  background-image: url(./imagenes/happy_smiley_icon_123391.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#threePoints {
  background-image: url(./imagenes/laugh_lol_smiley_icon_123395.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.punctuation {
  background-color: #009dae;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

#weatherIcon {
width: 4rem;
margin-left: 2%;
margin-bottom: 10%;
}

.localWeather #weather {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #009dae;
  margin-right: 90%;
  text-align: center;
  font-size: x-large;
}
